@font-face {
  font-family: 'Poppins';
  src: url('~/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

html {
  font-family: 'Poppins', 'inter', 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  color: rgba(128, 128, 128, 0.082);
  background-color: rgba(195, 195, 195, 0.054);
  background: rgba(241, 241, 241, 0.089);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
  background: rgba(226, 226, 226, 0.082);
  background: rgba(246, 246, 246, 0.068);

  /* background: #0567fbec; */
  /* background: #0d6eff7e; */
}

* {
  scrollbar-width: thin;
}

.display-none {
  display: none;
}

.dark-mode {
  background: #0e121b;
  color: #ffffff;
}

.default-background {
  background: #0e121b;
}

.primary-background {
  background: #3369ff;
}

.secondary-background {
  background: #feb52b;
}

.primary-button {
  padding: 10px 16px;
  border-radius: 2rem;
  background: #3369ff;
  cursor: pointer;
}

.secondary-button {
  padding: 10px 16px;
  border-radius: 12px;
  /* border:  1px solid #3d4149; */
  box-shadow: 0 0 0 2px #353945 inset;
  cursor: pointer;
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.small-screen {
  display: none;
}

@media (max-width: 800px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }
  .max-width-wrapper {
    margin: 0 auto;

    /* padding-left: 3.2rem; */
  }
}
